.main-section {
    background-color: #ffc395;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #f25d3e;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-projects {
    background-color: #5d0000;
    border-bottom: 10px solid #3A4042
}